name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ddc-builder .

      - name: Run Tests and Linters
        run: |
          docker run --rm -e QT_QPA_PLATFORM=offscreen ddc-builder sh -c "pytest && ruff check . && ruff format --check ."

      - name: Build Artifact
        run: |
          # Run the build and rename the artifact inside the container
          docker run --name builder ddc-builder sh -c "python3.11 -m PyInstaller ddc-control.spec && mv dist/ddc-control dist/ddc-control-linux && chmod 755 dist/ddc-control-linux"

          # Copy the artifact from the container to the host
          mkdir -p dist
          docker cp builder:/app/dist/ddc-control-linux dist/ddc-control-linux

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/ddc-control-linux
